@media all and (max-width: 1280px) {
	.wrapper{
		width:960px;
	}  
	.double.lists{
		display:none;
	}
	#search_form form {
		width:960px;
	}
	#search_form #s{
		width: 790px;
	}
	#single #content .content{
		width:640px;
	}
	#single #content header .titles{
		width:640px;
	}
	#single #content header .titles .title{
		width:100%;
	}
	#single #content .content #the_content{
		padding:0 20px 20px 0;
	}
	#via-publica #the_content .con_left{
		width:640px;
	}
	#via-publica #the_content .con_right{
		width:320px;
		padding:0 0 0 40px;
	}
	#via-publica #the_content.center{
		padding:0;
	}
	#single .category-entrevistas .content{
		width:960px!important;
		border-left:none !important;
	}
	#single .category-entrevistas #the_content h1{
		margin: 0px 0 40px 40px!important;
	}
	#single .category-entrevistas #comments,
	#single .category-entrevistas #the_content h2,
	#single .category-entrevistas #the_content h3,
	#single .category-entrevistas #the_content h5,
	#single .category-entrevistas #the_content p{
		margin: 0px 0 20px 40px!important;
	}
	.edition .size2{
		width:480px!important;
	}
	.edition .size2 img{
		width: auto!important;
		height:auto!important;
	}
	#single .category-entrevistas #the_content h5{
		width:35%!important;
	}
	#single .category-entrevistas #the_content div.alignnone{
		max-width:680px!important;
		margin: 0px 0 20px 40px!important;
	}
	#single .category-entrevistas #the_content img.alignnone{
		max-width:680px!important;
		margin: 0px 0 20px 0!important;
	}
	#reportaje #gallery img{
		width:960px!important;
	}
	#home_main .secondary article .readmore {
		width:285px;
	}
	#home_main .sidebar {
		padding:0;
	}
	
	#home_main .secondary {
		padding:30px 0;
	}
	#home_main .main article:last-child {
		margin:0; padding:0 0 10px;
		.full {
			border:none;
		}
	}
	.meta {display:none; visibility:hidden;}
	.edition .meta {display:block; visibility:visible;}
	.side {display:none; visibility:hidden;}
	.menu.full .this_week{width:766px !important;}
	.menu.full .this_week .current{background:url('../img/sprite_menu.png') 860px -168px no-repeat;}

	.main_menu a{font-size:.9em;padding:13px 5px 14px;}
}