@media all and (max-width: 1280px) {
	.wrapper{
		width:960px;
	}

	.double.lists{
		display:none;
	}

	.menu.full .this_week {
		width:766px;
	}

	#search_form form {
		width:960px !important;
	}
	#search_form #s{
		width: 790px !important;
	}

	#single #content .content{
		width:640px;
	}
	#single #content header .titles{
		width:100%;
	}
	#single #content header .titles .title{
		width:100%;
	}
	#single #content .content #the_content{
		padding:0 20px 20px 0;
	}
	#single #content .content #the_content img {
		max-width:100%;
	}
	#via-publica #the_content .con_left{
		width:640px;
	}
	#via-publica #the_content .con_right{
		width:320px;
		padding:0 0 0 40px;
	}
	#via-publica #the_content.center{
		padding:0;
	}
	#single .category-entrevistas .content{
		width:960px!important;
		border-left:none !important;
	}
	#single .category-entrevistas #the_content h1{
		margin: 0px 0 40px 40px!important;
	}
	#single .category-entrevistas #comments,
	#single .category-entrevistas #the_content h2,
	#single .category-entrevistas #the_content h3,
	#single .category-entrevistas #the_content h5,
	#single .category-entrevistas #the_content p{
		margin: 0px 0 20px 40px !important;
	}
	.edition .size2{
		width:480px!important;
	}
	.edition .size2 img{
		width: auto!important;
		height:auto!important;
	}
	#single .category-entrevistas #the_content h5{
		width:35%!important;
	}
	#single .category-entrevistas #the_content div.alignnone{
		max-width:680px!important;
		margin: 0px 0 20px 40px!important;
	}
	#single .category-entrevistas #the_content img.alignnone{
		max-width:680px!important;
		margin: 0px 0 20px 0!important;
	}
	#reportaje #gallery img{
		width:960px!important;
	}
	#home_main .secondary article .readmore {
		width:285px;
	}
	#home_main .sidebar {
		padding:0;
	}
	
	#home_main .secondary {
		padding:30px 0;
	}
	#home_main .main article:last-child {
		margin:0; padding:0 0 10px;
		.full {
			border:none;
		}
	}
	.meta {display:none; visibility:hidden;}
	.edition .meta {display:block; visibility:visible;}
	.category-entrevistas .side {display:none; visibility:hidden;}

	.mafi {
		iframe {
			width:620px !important;
		}
	}
	.siguenos .content-siguenos {
		width:960px !important;
		h3 {
			width:250px;
			text-align:left;
			padding:20px 0 0 !important;
		}
		ul {
			li {
				margin:15px 35px 0 0 !important;
				&:last-child {
					margin:15px 0 0 !important;
				}
			}
		}
	}
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////
/* - iPad Portrait - *////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	
	body {
		padding:60px 0 0 !important;
	}

	.wrapper{
		width:768px !important;
	}

	.menu.mobile{
		.fixed;
		
	  	background:@grey_dark;
		ul{ list-style:none; }
		.wrapper{height:60px;}
		h1{
			position:absolute;left:0;top:0;
			margin:0;
			a{
				.hidde_text;
				background:url('../img/square_sc.png') left center no-repeat black;
				border-bottom:4px solid @cyan;
				height:65px;width:70px;
			}
		}

		.main-menu-mobile {
			margin:0 0 0 70px;
			position:relative;
			width:453px;
			float:left;
			z-index:9999;
			a.trigger {
				display:block;
				width:453px;
				height:60px;
				font-size:1.6em;
				color:#fff;
				text-transform:uppercase;
				padding:18px 20px;
				span {
					background:url('../img/sprite_menu.png') 0 -176px no-repeat;
					display:inline-block;
					padding:0 0 0 30px;
				}
			}
			.menu-main-menu-container {
			position:absolute;
			top:60px;
			left:0;
			width:453px;
			display:none;
				ul {
					background:@grey_dark;
					width:100%;
					margin:0;
					padding:0 0 5px;
					li {
						width:100%;
						float:none;
						display:block;
						clear:both;
						a {
							padding:15px 10px 15px 10px;
							margin:0 10px 0 40px;
							display:block;
							width:393px;
							text-transform:uppercase;
							color:#fff;
							font-size:1.2em;
							border-top:1px solid #555;
						}
					}
				}
			}
		}

		.social{
			background:#303132;
			float:right;
			margin:0;padding:0;
			border-left:1px solid #58585b;
			li {float:left;}
			a{
				.left;
				.hidde_text;
				background:url('../img/sprite_menu.png') left top no-repeat;
				height:60px;width:61px;
				border-right:1px solid #58585b;
			}		
			.twitter a 	{
				background-position:-280px -327px;
				&:hover {
					background:url('../img/sprite_menu.png') -280px -327px no-repeat  #1ab7ea;
				}
			}
			.facebook a {
				background-position:-275px -440px;
				&:hover {
					background:url('../img/sprite_menu.png') -275px -440px no-repeat  #3b5999;
				}
			}
			.google a {
				background-position:-286px -392px;
				&:hover {
					background:url('../img/sprite_menu.png') -286px -392px no-repeat  #27a9e1;
				}
			}
			.instagram a {
				background-position:-278px -488px;
				&:hover {
					background:url('../img/sprite_menu.png') -278px -488px no-repeat  #f7b21e;
				}
			}
		}
		.search {
			float:right;
			a {
				height:60px;width:61px;
				background:url('../img/sprite_menu.png') left top no-repeat #27a9e1;
				background-position:22px -102px;
				.hidde_text;
				&.pressed {
					background:url('../img/sprite_menu.png') 22px -102px no-repeat #27a9e1;
				}
				&:hover {
					background:url('../img/sprite_menu.png') 22px -102px no-repeat @blue;
				}
			}
		}
	}

	footer.full {
		width:768px;
		.wrapper {
			padding:40px 20px 20px !important;
		}
		nav {
			float:left !important;
			width:730px !important;
		}
		h5 {
			float:left !important;
			width:730px !important;
		}
	}

	#search_form  {
		top:60px;
	}

	#search_form form {
		width:768px !important;
	}
	#search_form #s{
		width: 598px !important;
		font-weight:300;
	}
	.edition {
		.size1, .size2, .size3 {
			width:384px !important;
			height:258px !important;
			a {
				img {
					width:100% !important;
					height:auto !important;
				}
			}
		}
		.size4{
			width:768px !important;
			height:450px !important;
			.meta {
				width:384px !important;
			}
			a {
				img {
					width:100% !important;
					height:auto !important;
				}
			}
		}
	}
	.edition article .meta h3 {
		font-weight:500;
	}

	#home_main {
		.main {
			float:none;
			margin:0 auto 0 ;
			border-right:none;
		}
		.secondary {
			margin:0 0 0 60px;
		}
		.sidebar {
			margin:0 68px 0 0;
		}
		.mafi {
			float:none;
			margin:0 auto 20px;
		}
	}

	.archive {
		ul.wrapper.nav_bar {
			padding:0 10px 15px;
		}
		section#archive.wrapper {
			padding:0 10px;
		}
		article {
			width:239px !important;
			margin: 10px 5px 15px !important;
			figure {
				img {
					width:100%;
					height:160px;
				}
			}
		}
	}

	.search {
		ul.wrapper.nav_bar {
			padding:0 10px;
		}
		section#archive.wrapper {
			padding:0 10px;
		}
		article {
			width:239px !important;
			margin: 10px 5px 15px !important;
			figure {
				img {
					width:100%;
					height:160px;
				}
			}
		}
	}

	.siguenos .content-siguenos {
		width:768px !important;
		h3 {
			width:250px;
			text-align:left;
			padding:20px 0 0 !important;
			font-weight:300 !important;
			margin:0 0 10px 20px !important;
			font-size:2.5em !important;
			strong {
				font-weight:500 !important;
			}
		}
		ul {
			padding:0 0 0 10px !important;
			width:480px !important;
			li {
				margin:15px 15px 0 0 !important;
				a {
					width:145px !important;
					span {
						width:40px !important;
					}
					p {
						padding:3px 0 3px 55px !important;
					}
				}
				&:last-child {
					margin:15px 0 0 !important;
				}
			}
		}
	}

	#single #content .content{
		width:768px !important;
	}
	#single #content header .titles{
		width:640px;
	}
	#single #content header .titles .title{
		width:100%;
	}
	#single #content .content #the_content{
		padding:0 20px 20px 0;
	}
	#via-publica #the_content .con_left{
		width:640px;
	}
	#via-publica #the_content .con_right{
		width:320px;
		padding:0 0 0 40px;
	}
	#via-publica #the_content.center{
		padding:0;
	}
	#single .category-entrevistas .content{
		width:760px!important;
		border-left:none !important;
	}
	#single .category-entrevistas #the_content h1{
		margin: 0px 0 40px 40px!important;
	}
	#single .category-entrevistas #comments,
	#single .category-entrevistas #the_content h2,
	#single .category-entrevistas #the_content h3,
	#single .category-entrevistas #the_content h5,
	#single .category-entrevistas #the_content p{
		margin: 0px 30px 20px !important;
	}
	.edition .size2 img{
		width: auto!important;
		height:auto!important;
	}
	.single ul.wrapper.nav_bar {
		width:748px !important;
		margin:0 10px 15px;
	} 
	#single .category-entrevistas header .titles h1.title {
		padding:0 20px !important;
		width:728px !important;
	}
	#single .category-entrevistas #the_content h5{
		width:35%!important;
	}
	#single .category-entrevistas #the_content div.alignnone{
		max-width:680px!important;
		margin: 0px 0 20px 40px!important;
	}
	#single .category-entrevistas #the_content img.alignnone{
		max-width:680px!important;
		margin: 0px 0 20px 0!important;
	}
	#single.category-columnas,
	#single.category-infografias,
	#single.category-noticias {
		padding:0 20px;
		#content {
			width:748px !important;
			header.full {
				width:728px !important;
				.titles {
					width:auto;
					.title {
						width:auto;
					}
				}
			}
			.content {
				width:728px !important;
				border-right:none;
				#the_content {
					padding:0 0 20px !important;
				}
			}
		}
		aside.sidebar {
			display:none;
			visibility:hidden;
		}
	}
	#single.category-infografias {
		#content {
			.content {
				#the_content {
					margin:40px 0 20px 0 !important;
				}
			}
		}
	}

	#agenda .content .event {
		.date {
			width:140px;
		}
		.img {
			width:250px;
			img {
				height:auto;
			}	
		}
		.desc {
			width:310px;
			padding:0 10px;
		}
	}

	#reportaje #gallery img{
		width:768px!important;
	}
	#reportaje .feat_img img {
		width:auto;
		height:100%;
	}
	#via-publica #the_content {
		.con_left {
			width:450px;
			padding:0 0 0 20px;
		}
		.con_right {
			width:300px;
			padding:0 0 0 20px;
		}
	}
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////
/* - iPad Landscape - *///////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	
	body {
		padding:60px 0 0 !important;
	}

	.wrapper{
		width:1024px;
	}

	.menu.mobile{
		.fixed;
		
	  	background:@grey_dark;
		ul{ list-style:none; }
		.wrapper{height:60px;}
		h1{
			position:absolute;left:0;top:0;
			margin:0;
			a{
				.hidde_text;
				background:url('../img/square_sc.png') left center no-repeat black;
				border-bottom:4px solid @cyan;
				height:65px;width:70px;
			}
		}

		.main-menu-mobile {
			margin:0 0 0 70px;
			position:relative;
			width:453px;
			float:left;
			z-index:9999;
			a.trigger {
				display:block;
				width:709px;
				height:60px;
				font-size:1.6em;
				color:#fff;
				text-transform:uppercase;
				padding:18px 20px;
				span {
					background:url('../img/sprite_menu.png') 0 -176px no-repeat;
					display:inline-block;
					padding:0 0 0 30px;
				}
			}
			.menu-main-menu-container {
			position:absolute;
			top:60px;
			left:0;
			width:709px;
			display:none;
				ul {
					background:@grey_dark;
					width:100%;
					margin:0;
					padding:0 0 5px;
					li {
						width:100%;
						float:none;
						display:block;
						clear:both;
						a {
							padding:15px 10px 15px 10px;
							margin:0 10px 0 40px;
							display:block;
							width:649px;
							text-transform:uppercase;
							color:#fff;
							font-size:1.2em;
							border-top:1px solid #555;
						}
					}
				}
			}
		}

		.social{
			background:#303132;
			float:right;
			margin:0;padding:0;
			border-left:1px solid #58585b;
			li {float:left;}
			a{
				.left;
				.hidde_text;
				background:url('../img/sprite_menu.png') left top no-repeat;
				height:60px;width:61px;
				border-right:1px solid #58585b;
			}		
			.twitter a 	{
				background-position:-280px -327px;
				&:hover {
					background:url('../img/sprite_menu.png') -280px -327px no-repeat  #1ab7ea;
				}
			}
			.facebook a {
				background-position:-275px -440px;
				&:hover {
					background:url('../img/sprite_menu.png') -275px -440px no-repeat  #3b5999;
				}
			}
			.google a {
				background-position:-286px -392px;
				&:hover {
					background:url('../img/sprite_menu.png') -286px -392px no-repeat  #27a9e1;
				}
			}
			.instagram a {
				background-position:-278px -488px;
				&:hover {
					background:url('../img/sprite_menu.png') -278px -488px no-repeat  #f7b21e;
				}
			}
		}
		.search {
			float:right;
			a {
				height:60px;width:61px;
				background:url('../img/sprite_menu.png') left top no-repeat #27a9e1;
				background-position:22px -102px;
				.hidde_text;
				&.pressed {
					background:url('../img/sprite_menu.png') 22px -102px no-repeat #27a9e1;
				}
				&:hover {
					background:url('../img/sprite_menu.png') 22px -102px no-repeat @blue;
				}
			}
		}
	}

	#search_form  {
		top:60px;
	}

	#search_form form {
		width:1024px !important;
	}
	#search_form #s{
		width: 854px !important;
		font-weight:300;
	}

	#home_main {
		.main {
			margin:0 0 0 32px;
		}
		.secondary {
		}
		.sidebar {
			margin:0 32px 0 0;
		}
		.mafi {
			margin:0 0 0 32px;
		}
	}

	footer.full {
		width:1024px;
		.wrapper {
			padding:10px 20px 20px !important;
		}
		nav {
			float:left !important;
			width:730px !important;
		}
		h5 {
			float:left !important;
			width:730px !important;
		}
	}

	section.edition {
		padding:0 32px;
	}

	.archive {
		ul.wrapper.nav_bar {
			padding:0 40px 15px;
		}
		section#archive.wrapper {
			padding:0 32px;
		}
	}

	.search {
		ul.wrapper.nav_bar {
			padding:0 40px;
		}
		section#archive.wrapper {
			padding:0 32px;
		}
	}

	.double.lists{
		display:none;
	}
	.single ul.wrapper.nav_bar {
		width:1004px !important;
		margin:0 10px 15px;
	} 
	#single #content .content{
	}
	#single #content header .titles{
		width:640px;
	}
	#single #content header .titles .title{
		width:100%;
	}
	#single #content .content #the_content{
		padding:0 20px 20px 0;
		width:860px;
	}
	#via-publica #the_content .con_left{
		width:640px;
	}
	#via-publica #the_content .con_right{
		width:320px;
		padding:0 0 0 40px;
	}
	#via-publica #the_content.center{
		padding:0;
	}
	#single .category-entrevistas .content{
		width:960px!important;
		border-left:none !important;
	}
	#single .category-entrevistas #the_content h1{
		margin: 0px 0 40px 40px!important;
	}
	#single .category-entrevistas #comments,
	#single .category-entrevistas #the_content h2,
	#single .category-entrevistas #the_content h3,
	#single .category-entrevistas #the_content h5,
	#single .category-entrevistas #the_content p{
		margin: 0px 0 20px 40px!important;
	}
	#single #content .content #comments {
		width:860px !important;
	}
	.edition {
		article {
			a {
				img {
					width:100% !important;
					height:auto !important;
				}
			}
		}
	}
	#single .category-entrevistas #the_content h5{
		width:35%!important;
	}
	#single .category-entrevistas #the_content div.alignnone{
		max-width:680px!important;
		margin: 0px 0 20px 40px!important;
	}
	#single .category-entrevistas #the_content img.alignnone{
		max-width:680px!important;
		margin: 0px 0 20px 0!important;
	}
	
	#single.category-columnas,
	#single.category-infografias,
	#single.category-noticias {
		width:1024px;
		padding:0 20px;
		#content {
			width:984px !important;
			header.full {
				width:984px !important;
				.titles {
					width:auto;
					.title {
						width:auto;
					}
				}
			}
			.content {
				width:664px !important;
				border-right:none;
				#the_content {
					width:664px;
					padding:0 40px 20px 0 !important;
				}
			}
		}
	}

	#reportaje #gallery img{
		width:960px!important;
	}
	#home_main .secondary article .readmore {
		width:285px;
	}
	#home_main .sidebar {
		padding:0;
	}
	
	#home_main .secondary {
		padding:30px 0;
	}
	#home_main .main article:last-child {
		margin:0; padding:0 0 10px;
		.full {
			border:none;
		}
	}
	.meta {display:none; visibility:hidden;}
	.edition .meta {display:block; visibility:visible;}
	
	.archive {
		ul.wrapper.nav_bar {
			padding:0 40px 15px;
		}
		section#archive.wrapper {
			padding:0 32px;
		}
	}

	.mafi {
		iframe {
			width:620px !important;
		}
	}
	.siguenos {
		width:1024px;
		.content-siguenos {
			width:960px !important;
			h3 {
				width:250px;
				text-align:left;
				padding:20px 0 0 !important;
				font-weight:300 !important;
				font-size:2.8em !important;
				strong {
					font-weight:500 !important;
				}
			}
			ul {
				li {
					margin:15px 35px 0 0 !important;
					&:last-child {
						margin:15px 0 0 !important;
					}
				}
			}
		}
	}
	#via-publica #the_content {
		.con_left {
			padding:0 0 0 20px;
		}
	}
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////
/* - iPhone Portrait - *//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) 
and (orientation : portrait) {
	body {
		width:320px;
		padding:60px 0 0 !important;
	}
	.wrapper {
		width:320px;
	}

	.menu.mobile{
		.fixed;
		
	  	background:@grey_dark;
		ul{ list-style:none; }
		.wrapper{height:40px;}
		h1{
			position:absolute;left:0;top:0;
			margin:0;
			a{
				.hidde_text;
				background:url('../img/square_sc.png') left center no-repeat black;
				border-bottom:4px solid @cyan;
				height:45px;width:50px;
				background-size:100%;
			}
		}

		.main-menu-mobile {
			margin:0 0 0 50px;
			position:relative;
			width:105px;
			float:left;
			z-index:9999;
			a.trigger {
				display:block;
				width:105px;
				height:40px;
				font-size:1.3em;
				color:#fff;
				text-transform:uppercase;
				padding:9px 12px;
				span {
					background:url('../img/sprite_menu.png') 0 -176px no-repeat;
					display:inline-block;
					padding:2px 0 2px 25px;
				}
			}
			.menu-main-menu-container {
			position:absolute;
			top:40px;
			left:0;
			width:229px;
			display:none;
				ul {
					background:@grey_dark;
					width:100%;
					margin:0;
					padding:0 0 5px;
					li {
						width:100%;
						float:none;
						display:block;
						clear:both;
						a {
							padding:10px;
							margin:0 20px 0 10px;
							display:block;
							width:199px;
							text-transform:uppercase;
							color:#fff;
							font-size:1em;
							border-top:1px solid #555;
						}
					}
				}
			}
		}

		.social{
			background:#303132;
			float:right;
			margin:0;padding:0;
			border-left:1px solid #58585b;
			li {float:left;}
			a{
				.left;
				.hidde_text;
				background:url('../img/sprite_menu.png') left top no-repeat;
				height:40px;width:41px;
				border-right:1px solid #58585b;
			}		
			.twitter a 	{
				background-position:-288px -335px;
				&:hover {
					background:url('../img/sprite_menu.png') -288px -335px no-repeat  #1ab7ea;
				}
			}
			.facebook a {
				background-position:-284px -448px;
				&:hover {
					background:url('../img/sprite_menu.png') -284px -448px no-repeat  #3b5999;
				}
			}
			.google a {
				background-position:-286px -392px;
				&:hover {
					background:url('../img/sprite_menu.png') -286px -392px no-repeat  #27a9e1;
				}
			}
			.instagram a {
				background-position:-288px -496px;
				&:hover {
					background:url('../img/sprite_menu.png') -288px -496px no-repeat  #f7b21e;
				}
			}
		}
		.search {
			float:right;
			a {
				height:40px;width:41px;
				background:url('../img/sprite_menu.png') left top no-repeat #27a9e1;
				background-position:12px -111px;
				.hidde_text;
				&.pressed {
					background:url('../img/sprite_menu.png') 12px -111px no-repeat #27a9e1;
				}
				&:hover {
					background:url('../img/sprite_menu.png') 12px -111px no-repeat @blue;
				}
			}
		}
	}

	h2.logo_big {
		background-size:300px;
		margin:20px 0 40px;
		padding:0;
	}
	section.edition {
		article {
			width:320px;
			&.size4 {
				width:320px;
			}
			&.size3 {
				width:320px;
				height:250px;
			}
			&.size2 {
				width:320px !important;
				height:350px;
				img {
					height:100% !important;
				}
			}
			&.size1 {
				width:320px;
			}
			.img {
				img {
					width:100%;
					height:auto;
				}
			}
			.meta {
				background: rgba(0,0,0,0.7);
				h3 {
					font-weight:700;
				}
			}
		}
	}
	#home_main {
		.main {
			border-right:none;
			width:320px;
			big {
				width:300px;
				margin:0 10px 20px;
			}
			article {
				width:320px;
				img {
					max-width:100% !important;
					height:auto;
				}
				h3 {
					float:none;
					width:300px;
					padding:0 10px;
				}
				p {
					width:300px;
					margin:15px 10px 0;
				}
				.full {
					width:300px;
					padding:0 10px 10px;
				}
			}
		}
		.secondary {
			border-right:none;
			border-top:1px solid #aaa;
		}
		#main-primary {
			a.banner {
				display:none;
				visibility:hidden;
			}
			a.banner-nottp {
				display:none;
				visibility:hidden;				
			}
			#recent_comments {
				display:none;
				visibility:hidden;	
			}
		}
		.mafi {
			display:none;
			visibility:hidden;
			width:320px;
			iframe {
				width:320px !important;
			}
		}
	}
	.siguenos {
		padding:20px 0;
		height:380px;
		.content-siguenos {
			width:320px !important;
			height:auto;
			h3 {
				width:280px;
				padding:0 !important;
				margin:0 20px;
				float:none;
				font-weight:300;
				strong {
					font-weight:500;
				}
			}
			ul {
				width:280px;
				margin:0 20px;
				float:none;
				padding:0;
				li {
					float:none;
					margin:0 auto;
					a {
						width:280px;
						padding:0 0 25px 15px;
						margin:20px auto 0;
					}
				}
			}
		}
	}
	footer.full {
		width:320px;
		padding:20px 0;
		.wrapper {
			width:280px;
			margin:0 20px;
		}
		section.logo {
			width:280px;
			big {
				font-size:2.2em;
				font-weight:300;
				strong {
					font-weight:700;
				}
			}
		}
		nav {
			width:280px;
			float:none;
			ul {
				margin:0 0 20px;
				line-height:1.8em;
				li {
					h4 {
						font-size:1.4em;
					}
					a {
						font-size:1.2em;
					}
				}
			}
		}
		h5 {
			clear:both;
			width:280px;
			float:none;
			a {
				line-height:140%;
				&.img {
					float:none;
					display:block;
				}
			}
		}
	}
	ul.wrapper.nav_bar {
		width:300px;
		margin:0 10px 15px;
	}
	#single #content header .titles {
		padding:0 15px;
		h1 {
			font-size:2.2em !important;
		}
	}
	#single .category-entrevistas .content {
		width:320px !important;
		#the_content {
			margin:40px 10px 20px !important;
			h1 {
				margin:0 0 40px 0 !important
			}
			h3 {
				margin:0 0 20px !important;
				font-size:1.6em !important;
			}
			p {
				margin:0 0 20px !important;
				font-size:1.3em !important;
			}
			.alignnone {
				margin:0 !important;
			}
		}
		#comments {
			margin:0 20px !important;
		}
	}
	#archive article {
		float:none;
		height:auto;
		margin:10px auto 25px;
		padding:0 0 20px;
		&:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
		h3 {
			height:auto;
		}
	}
	body.single {
		#reportaje {
			.feat_img img {
				float:none;
				width:auto !important;
				height:auto !important;
				min-width:100% !important;
				min-height:100% !important;
			} 
			header {
				.titles {
					padding:20px 10px !important;
					.title {
						font-size:30px;
					}
				}
				.space {
					padding:0;
				}
				.autores {
					margin:0 auto 10px !important;
					padding:0 10px;
				}
			}
			.grey {
				.image {
					.wrapper {
						padding:20px 0;
					}
				}
			}
			.white {
				padding:20px 0 0;
			}
			p {
				margin:10px auto;
				padding:0 10px;
				font-size:16px;
			}
			.social a {
				padding:10px 20px 10px 25px;
			}
			.tags {
				margin:20px 0;
				padding:0 10px;
			}
		}
	}
	.streaming {
		width:90%;
		max-width:90%;
	}
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////
/* - iPhone Landscape - */////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) 
and (orientation : landscape) {

	body {
		width:480px;
		padding:60px 0 0 !important;
	}
	.wrapper {
		width:480px;
	}

	.menu.mobile{
		.fixed;
		
	  	background:@grey_dark;
		ul{ list-style:none; }
		.wrapper{height:40px;}
		h1{
			position:absolute;left:0;top:0;
			margin:0;
			a{
				.hidde_text;
				background:url('../img/square_sc.png') left center no-repeat black;
				border-bottom:4px solid @cyan;
				height:45px;width:50px;
				background-size:100%;
			}
		}

		.main-menu-mobile {
			margin:0 0 0 50px;
			position:relative;
			width:265px;
			float:left;
			z-index:9999;
			a.trigger {
				display:block;
				width:265px;
				height:40px;
				font-size:1.3em;
				color:#fff;
				text-transform:uppercase;
				padding:9px 12px;
				span {
					background:url('../img/sprite_menu.png') 0 -176px no-repeat;
					display:inline-block;
					padding:2px 0 2px 25px;
				}
			}
			.menu-main-menu-container {
			position:absolute;
			top:40px;
			left:0;
			width:265px;
			display:none;
				ul {
					background:@grey_dark;
					width:100%;
					margin:0;
					padding:0 0 5px;
					li {
						width:100%;
						float:none;
						display:block;
						clear:both;
						a {
							padding:10px;
							margin:0 20px 0 10px;
							display:block;
							text-transform:uppercase;
							color:#fff;
							font-size:1em;
							border-top:1px solid #555;
						}
					}
				}
			}
		}

		.social{
			background:#303132;
			float:right;
			margin:0;padding:0;
			border-left:1px solid #58585b;
			li {float:left;}
			a{
				.left;
				.hidde_text;
				background:url('../img/sprite_menu.png') left top no-repeat;
				height:40px;width:41px;
				border-right:1px solid #58585b;
			}		
			.twitter a 	{
				background-position:-288px -335px;
				&:hover {
					background:url('../img/sprite_menu.png') -288px -335px no-repeat  #1ab7ea;
				}
			}
			.facebook a {
				background-position:-284px -448px;
				&:hover {
					background:url('../img/sprite_menu.png') -284px -448px no-repeat  #3b5999;
				}
			}
			.google a {
				background-position:-286px -392px;
				&:hover {
					background:url('../img/sprite_menu.png') -286px -392px no-repeat  #27a9e1;
				}
			}
			.instagram a {
				background-position:-288px -496px;
				&:hover {
					background:url('../img/sprite_menu.png') -288px -496px no-repeat  #f7b21e;
				}
			}
		}
		.search {
			float:right;
			a {
				height:40px;width:41px;
				background:url('../img/sprite_menu.png') left top no-repeat #27a9e1;
				background-position:12px -111px;
				.hidde_text;
				&.pressed {
					background:url('../img/sprite_menu.png') 12px -111px no-repeat #27a9e1;
				}
				&:hover {
					background:url('../img/sprite_menu.png') 12px -111px no-repeat @blue;
				}
			}
		}
	}

	h2.logo_big {
		background-size:300px;
		margin:20px 0 40px;
		padding:0;
	}

	section.edition {
		article {
			&.size4 {
				width:480px;
				height:320px;
				.meta {
					width:240px;
				}
			}
			&.size3 {
				width:240px;
				height:160px;
			}
			&.size2 {
				width:240px !important;
				height:160px;
				img {
					height:100% !important;
				}
			}
			&.size1 {
				width:240px;
				height:160px;
			}
			.img {
				img {
					width:100%;
					height:auto;
				}
			}
			.meta {
				background: rgba(0,0,0,0.7);
				h3 {
					font-size:1.3em;
					font-weight:700;
				}
				h4 {
					margin:6px 12px;
				}
			}
		}
	}
	#home_main {
		.main {
			width:480px;
			border-right:none;
			big {
				width:460px;
				margin:0 10px 20px;
			}
			article {
				width:480px;
				margin:0 0 10px;
				padding:0 0 10px;
				img {
					max-width:100% !important;
					height:auto;
				}
				h3 {
					float:left;
					width:195px;
					padding:0 20px 0 10px;
					font-size:2.2em;
				}
				p {
					width:245px;
					margin:3px 10px 0 0;
					font-size:1.2em;
				}
				.full {
					width:480px;
					padding:0 10px 15px;
					margin:25px 0 0;
				}
			}
		}
		.secondary {
			border-right:none;
			border-top:1px solid #aaa;
			width:480px;
			article {
				padding:10px;
				.readmore {
					width:445px;
				}
			}
		}
		.sidebar {
			float:none;
			width:480px;
			.newsletter {
				width:480px;
				form {
					width:400px;
					margin:10px 20px 0;
					.medium {
						width:400px;
					}
				}
			}
		}
		#main-primary {
			a.banner {
				display:none;
				visibility:hidden;
			}
			a.banner-nottp {
				display:none;
				visibility:hidden;				
			}
			#recent_comments {
				display:none;
				visibility:hidden;	
			}
		}
		.mafi {
			display:none;
			visibility:hidden;
			width:320px;
			iframe {
				width:320px !important;
			}
		}
	}
	.siguenos {
		width:480px;
		padding:15px 0;
		height:auto;
		.content-siguenos {
			width:440px !important;
			height:auto;
			h3 {
				width:100%;
				font-weight:300;
				font-size:2.8em;
				strong {
					font-weight:500;
				}
			}
			ul {
				with:430px;
				padding:0;
				float:none;
				li {
					margin:15px 0 0 !important;
					a {
						width:430px;
						margin:0 0 10px;
					}
				}
			}
		}
	}
	footer.full {
		width:480px;
		padding:40px 0 20px;
		.wrapper {
			padding:0;
			width:440px;
		}
		.logo {
			big {
				font-weight:300;
				strong {
					font-weight:500;
				}
			}
		}
		nav {
			width:420px;
			float:none;
			margin:0;
			ul {
				float:none;
				margin:0 0 20px;
			}
		}
		h5 {
			float:none;
			width:440px;
			margin:40px auto 0;
			a.img {
				display:block;
				clear:both;
				float:none;
			}
		}
	}
	ul.wrapper.nav_bar {
		width:460px;
		margin:0 10px 15px;
	}
	#single #content .content {
		#the_content {
			h1 {
				font-size:18px;
				font-weight:500;
			}
		}
	}
	#single .category-entrevistas .content {
		width:480px !important;
		#the_content {
			margin:40px 10px 20px !important;
			h1 {
				margin:0 0 40px 0 !important;
			}
			h3 {
				margin:0 0 20px !important;
				font-size:1.6em !important;
			}
			p {
				margin:0 0 20px !important;
				font-size:1.3em !important;
			}
			.alignnone {
				margin:0 !important;
			}
		}
		#comments {
			margin:0 20px !important;
		}
	}
	#archive article {
		width:460px;
		float:none;
		margin:10px auto 25px;
		height:auto !important;
		padding:0 0 5px;
		&:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
		figure {
			img {
				width:240px !important;
				height:auto !important;
				margin:0 20px 20px 0;
			}
		}
		h3 {
			height:auto;
		}
		.readmore {
			padding-bottom:15px;
		}
	}
	body.single {
		header {
			.titles {
				padding:20px 10px !important;
				h1.title {
					font-size:30px !important;
				}
			}
			.space {
				padding:0;
			}
			.autores {
				margin:0 auto 10px !important;
				padding:0 10px;
			}
		}
		#reportaje {
			.feat_img img {
				float:none;
				width:auto !important;
				height:auto !important;
				min-width:100% !important;
				min-height:100% !important;
			}
			.grey {
				.image {
					.wrapper {
						padding:20px 0;
					}
				}
			}
			.white {
				padding:20px 0 0;
			}
			p {
				margin:10px auto;
				padding:0 10px;
				font-size:16px;
			}
			.tags {
				margin:20px 0;
				padding:0 10px;
			}
		}
	}
	.streaming {
		width:90%;
		max-width:90%;
	}
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////
/* - iPhone 5 Landscape - */////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) {
	
	body {
		padding:60px 0 0 !important;
		width:568px;
	}
	.wrapper{
		width:568px;
	}
	.menu.mobile {
		.main-menu-mobile {
			width:353px;
			a.trigger {
				width:353px;
			}
			.menu-main-menu-container {
				width:353px;
			}
		}
	}
	section.edition {
		margin:0 44px;
	}
	#home_main {
		section.main {
			margin:0 44px;
		}
		section.secondary {
			margin:0 44px;
		}
		.sidebar .newsletter {
			width:568px;
			padding:15px 60px;
		}
	}
	.siguenos {
		width:568px;
		padding:15px 60px;
		.content-siguenos {
			width:568px;
		}
	}
	footer.full {
		width:568px;
	}
	ul.wrapper.nav_bar {
		width:460px;
		margin:0 10px 15px;
	}
	#single #content .content {
		#the_content {
			h1 {
				font-size:18px;
				font-weight:500;
			}
		}
	}
	#single .category-entrevistas .content {
		width:560px !important;
		#the_content {
			margin:40px 10px 20px !important;
			h1 {
				margin:0 0 40px 0 !important;
			}
			h3 {
				margin:0 0 20px !important;
				font-size:1.6em !important;
			}
			p {
				margin:0 0 20px !important;
				font-size:1.3em !important;
			}
			.alignnone {
				margin:0 !important;
			}
		}
		#comments {
			margin:0 20px !important;
		}
	}
	#archive article {
		width:540px;
		float:none;
		margin:10px auto 25px;
		height:auto !important;
		padding:0 0 5px;
		&:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
		figure {
			img {
				width:240px !important;
				height:auto !important;
				margin:0 20px 20px 0;
			}
		}
		h3 {
			height:auto;
		}
		.readmore {
			padding-bottom:15px;
		}
	}
	body.single {
		header {
			.titles {
				padding:20px 10px !important;
				h1.title {
					font-size:30px !important;
				}
			}
			.space {
				padding:0;
			}
			.autores {
				margin:0 auto 10px !important;
				padding:0 10px;
			}
		}
		#reportaje {
			.feat_img img {
				float:none;
				width:auto !important;
				height:auto !important;
				min-width:100% !important;
				min-height:100% !important;
			}
			.grey {
				.image {
					.wrapper {
						padding:20px 0;
					}
				}
			}
			.white {
				padding:20px 0 0;
			}
			p {
				margin:10px auto;
				padding:0 10px;
				font-size:16px;
			}
			.tags {
				margin:20px 0;
				padding:0 10px;
			}
		}
	}
	.streaming {
		width:90%;
		max-width:90%;
	}
}